body {
    font-family: 'Orbitron', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;}

.name-high{
    color: darkred;
}
 .half{
     width: 40%;
     margin-left: 5%;
     float: left;
     padding: 2%;
 }
 .half img{
      width: 100%;
      margin-top: 15%;
  }
  .background{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
  }
  .button{
    text-decoration: none;
    background-image: linear-gradient(45deg, darkred, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
section{
    height: 500px;
    padding: 20px;
}
.bg{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.box{
    height: 80%;
    box-shadow: 10px 10px 40px gray;
}
.pd{
    padding-top: 10px;
}
.e-a{
    background-image: url("Images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#stick{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#lathi{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, darkred, tomato);
    border-image-slice: 1;
}
footer p{
    font-size: 12px;
    text-align: center;
}